<h1>Greetings</h1>

<%= render 'form' %>

<hr />

<table class="table table-hover">
  <tbody>
    <% @greetings.each do |greeting| %>
      <tr>
        <td class="active" width="30%">
          <%= greeting.name %> <br />
          <small class="text-muted">
            <%= greeting.created_at %>
          </small>
        </td>
        <td>
          <%= greeting.comment %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @greetings%>
